PORT = 3000


# JWT
# --------------------------------------------------------------------------------------------------
JWT_SECRET = 
JWT_EXPIRATION_TIME_SECONDS = 900


# GitHub OAuth implementation 
# https://docs.github.com/en/developers/apps/building-oauth-apps/authorizing-oauth-apps
# --------------------------------------------------------------------------------------------------
# The client ID you received from GitHub for your OAuth App
GITHUB_OAUTH_CLIENT_ID = Ov23lifnGqTReSWZ7JbH
# The client secret you received from GitHub for your OAuth App
GITHUB_OAUTH_CLIENT_SECRET = 900bd5dcbc2fd9ad79efc94774795ba0e10c8f20
# The URL in your application where users are sent after authorization
GITHUB_OAUTH_CALLBACK_URL = http://localhost:3000/auth/github/callback

